body
	{
  background: url(https://t3.ftcdn.net/jpg/01/52/33/56/240_F_152335695_Wu52CHbjdnrQUxzObymMMUYcDCebGh3d.jpg) !important;
  background-repeat: no-repeat;
  background-size: 100% !important;
}


body{
	min-height: 100vh;
	width: 100vw;
	background-color:none;
	overflow-x: hidden;
}

#navbarText{
	.navbar-nav {
    width: 100%;
    justify-content: center;
    background-color:#000080;
    
}

#title{

	font-family: Montserrat;
	font-weight: 600;
	font-style: SemiBold;
	font-size: 20px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;

	width: 909 !important;
	height: 49 !important;
	angle: 0 deg !important;
	opacity: 1 !important;

	color:#000080 !important;
}

#mario {
	 width: 275 !important;
	height: 365 !important;
	top: 945px !important;
	left: 218px !important;
	angle: 0 deg !important;
	opacity: 1 !important;
}









